.content {
  padding-top: 56px ;
  padding-bottom: 34px ;
  height: 100%;
  width: 100%;
}
.contentedu{
  padding-top: 56px ;
  padding-bottom: 34px ;
}
.int{
	height: 100%;
}
.active{
	padding-left: 30px;
}
@media (max-width: 990px){
.nav-item a{
	padding-left: 10px!important;
}
.sameline li, .sameline a, .sameline{
	display: inline-block !important;
}
.sameline a{
	padding-bottom:10px!important;
}
}
.achtb{
	margin-bottom: 0px !important;
}
.achtb tbody{
	color:#841c1c;
}
.intro{
	background-image: url("./images/a.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.intro p{
	color:white;
	font-weight: bold;
	font-size: calc(2vw + 3vh);
	padding: 10% 5% 5% 5%;
	font-family: 'Righteous', cursive;
}
.sico{
	padding-left: 20%;
	color: white;
}
table a{
	color:#841c1c;
}
.navbar{
	background-color: #082a4e!important;
}
html,body{
	height: 100%;
	width: 100%;
	font-family: 'Righteous', cursive !important;
}
.summary{
	background-color: #dddddd;
}
.sumhd{
	color:  #841c1c;
	font-size: 50px;
	width: 100%;
	text-align: center;
}
.summary ul{
    list-style-image: url('./images/listim.png');
    font-size: 22px;
}
.summary li{
	padding-bottom: 15px;
}
.thd{
	background-color: #841c1c;
	color: white;
}
.icsz{
	height: 35px;
	width:auto;
	margin: 3px 10px 3px 0px !important;
}
.remp{
	padding: 0px !important;
}
.xd{
  padding-left: 3%;
  margin: 0px;
}
.footer{
	background-color:#082a4e;
	color: #B4B1AF;
	padding: 5px 0px;
}
.logo{
	position: absolute ;
	height: 50% ;
	left:15% ;
	top:25% ;
}
.textlogo{
	position: absolute;
	left: 45%;
	top: 30%;
	font-size: 3vw;
	font-weight: bold;
	color: white;
}
.pd{
	padding-left: 5%;
	margin:0px;
}
.bk{
	position: relative;
}
.skillhd{
	font-size: 40px;
	font-family: 'Righteous', cursive;
}
.skillsub{
	font-size: 30px;
	font-family: 'Righteous', cursive;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.skilltxt{
		font-size: 24px;
	font-family: 'Righteous', cursive;
	margin-bottom: 30px;
}
.ratouter{
	margin:auto;
	width:75% !important;
}
@media(max-width:768px){
.score{
	font-size: 15vw !important;
 }
}
@media (max-width: 650px) { 
.skillhd{
	font-size: 35px;
 }
 .skillsub{
 	font-size: 25px;
 }
 .skilltxt{
 	font-size: 20px;
 }
}

@media (max-width: 450px) { 
.skillhd{
	font-size: 30px;
 }
 .skillsub{
 	font-size: 21px;
 }
 .skilltxt{
 	font-size: 17px;
 }
}

@media(min-width:768px) and (max-width: 860px){
.skillhd{
	font-size: 37px;
 }
 .skillsub{
 	font-size: 26px;
 }
 .skilltxt{
 	font-size: 21px;
 }
}
.marg{
	margin-top:15px;
	margin-bottom: 35px;
}
.full{
	height: 100%!important;
	width: 100%!important;
	overflow: auto;
	display: block;
}
.rfont{
		font-family: 'Righteous', cursive;
		color: white;
}
.exphead{
	text-align: center;
	color: white;
	font-size: 60px;
	line-height: 93%;
	padding: 30px 0px 20px 0px;
}
.exphead a,.exphead a:hover{
	color:white;
}
.exppic{
	display: block;
	width: 300px;
	padding-top: 30px;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
.expbod{
	font-size: 25px;
	padding: 0% 3%;
}
@media (max-width: 1050px) { 
.expbod{
	font-size: 20px;
}
@media (max-width: 650px) { 
.exphead{
	font-size:45px;
}
.expbod{
	font-size: 16px;
}